/* Home Page CSS */
.home {
  background-color: #1E3A8A; 
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding: 4rem 1rem 1rem; 
}

.dark .home {
  background-color: #111827; 
  color: #F9FAFB; 
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .home-content {
    flex-direction: row;
    align-items: flex-start; 
    gap: 3rem; 
    margin-top: 2rem;
  }
}

.profile-img {
  width: 260px;
  height: auto;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .profile-img {
    width: 400px;
  }
}

.highlight {
  background: linear-gradient(to right, #1E3A8A, #FBBF24); 
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  color: #F9FAFB;
  font-weight: bold;
}

.intro-subtext-container {
  background-color: #F9FAFB; 
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
  max-width: 500px;
}

.dark .intro-subtext-container {
  background-color: #374151;
}

.intro-subtext {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.6;
  color: #1E3A8A;
}

.dark .intro-subtext {
  color: #FBBF24; 
}


.intro-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  color: #FBBF24; 
}


/* Other Pages */
.page {
  padding: 2.5rem;
  text-align: center;
  background-color: #FEF3C7; 
}

.page h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #1E3A8A; 
}

.page p {
  font-size: 1rem;
  color: #1F2937; 
}

